<h2>Editing Book</h2>
<% if @book.errors.any? %>
<h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model:@book, local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Update Book' ,class:"btn btn-success" %>
<% end %>
<%= link_to 'Show',book_path %>
<%= link_to 'Back',books_path %>